.mat-tab {
  padding-top: 40px;
  padding-left: 2%;
  padding-right: 2%;
}

.first-content {
  padding: 2%;
}

.inside-content {
  margin: 0.5%;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
